* {
    margin:0;
    padding: 0;
}
body {
  height: 100%;
  background-color: gray;
  color: white;
}
#panorama {
    width: 100%;
    height: 150px;
    background: url(../img/2.jpg) no-repeat center 70%;
    background-size: cover;
}
.main_img-float {
    width: 550px;
    margin-right: 40px;
    float: left;
}
#wrapper{
    min-height: 100%;
    height: auto !important;
    height: 100%;
     width: 100%;
}
header{
    height:70px;
    width: 1040px;
    margin: 0 auto;     
}
main{
    padding-bottom: 100px;
    width: 1040px;
    margin: 0 auto;  
}
footer{   
    margin: -100px auto 0;
    position: relative;
    height: 100px;
    width: 1040px;
    margin: 0 auto; 
}
.services_img {
    width: 240px;
}
.service_item {
    margin-left: 40px;
    margin-right: 40px;
    width: 240px;
    float: left;
}
.services {
    padding: 35px;
    border: 5px;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
.h1--invisible {
    visibility: hidden;
}
#logo {
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    line-height: 100px;
    font-size: 24px;
    float: left;
}
.log {
    color: pink;
}
.footer__block {
    display: inline-block;
    width: 335px;
    text-transform: uppercase;
    text-align: center;
}
.footer__icons {
    display: inline-block;
    width: 335px;
    text-align: right;
}
.footer__img {
    width: 50px;
}
html,body {
    height: 90%;
}  
.onas_img {
    margin: 10px;
    max-width: 400px;
}
.te {
    max-width: 400px;
    margin-left: 320px;
}
.con {
    margin: 40px;
    text-align: center;
}
.zag {
    margin: 10px;
    color: green;
}
.g {
    margin: 10px;
    color: purple;
}
.tex {
    margin: 10px;
}
#mainnav ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
    text-align: center;
}
#mainnav li {
    display: inline;
    margin: 40px;
}
#mainnav a {
    text-decoration: none;
}
#mainnav a:hover {
    text-decoration: underline;
    color: green;
}
#mainnav li.active a {
    font-weight: bold;
}
#mainnav {
    text-transform: uppercase;
    text-decoration: none;
    line-height: 100px;
    font-size: 24px;
    float: right;
}
.logo {
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    line-height: 20px;
}

.services a {
    text-decoration: none;
    color: pink;
}
.services a:hover {
    color: pink;
    text-decoration: underline;
}
.new::after {
    content:"new";
    font-size: 10px;
    vertical-align: super;
    background-color: violet;
    border-radius: 2px;
    padding: 3px;
    margin-left: 5px;
}
.new {
    color: pink;
}
.t {
    max-width: 800px;
    margin: 10px;
    margin-left: 350px;
    text-align: left;
}
table {
    border: 5px solid #f60ad5;
    border-collapse: collapse;
    background-color: firebrick;
}

.price th:first-child{
    width: 10%;
}
.price th:nth-child(2), price th:last-child{
    width: 25%;
}
.tabl {
    text-align: center;
}
tr:nth-child(even) {background: #C9E3FE}
.price {border: 5px solid #f60ad5;}
.services_item a{
    color: #FF00FF;
    text-decoration: none;
}
.uslug {
    color: pink;
    text-transform: uppercase;
}
#uslug {
    color: pink;
    text-transform: uppercase;
}
img {
    border: 2px solid black;
    border-radius: 2px;
    box-shadow: 2px;
}
